<a href="https://colab.research.google.com/github/410605025/Introduction-to-Computers/blob/main/0523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sum=0
test=int(input('Please enter number range: '))
for n in range(1, test+1):
  sum=sum+n
print("1 to", test,'added is',sum)

Please enter number range: 10
1 to 10 added is 55

In [ ]:
sum=0
test=int(input('Please enter number range: '))
for m in range(1, test+1):
  sum=sum+m
  print("1 to", m,'added is',sum)

Please enter number range: 10
1 to 1 added is 1
1 to 2 added is 3
1 to 3 added is 6
1 to 4 added is 10
1 to 5 added is 15
1 to 6 added is 21
1 to 7 added is 28
1 to 8 added is 36
1 to 9 added is 45
1 to 10 added is 55

In [ ]:
for j in range(1,5):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8

In [ ]:
for j in range(1,6):
  print(j)
  for i in range(1,3):
    k=i*j
    print(j,"*",i,"=",k)

1
1 * 1 = 1
1 * 2 = 2
2
2 * 1 = 2
2 * 2 = 4
3
3 * 1 = 3
3 * 2 = 6
4
4 * 1 = 4
4 * 2 = 8
5
5 * 1 = 5
5 * 2 = 10

In [ ]:
for i in range(1,5):
  if(i==4):
    break
  print(i, end=" ")

1 2 3

In [ ]:
for i in range(1,5):
  if(i==4):
    continue
  print(i, end=" ")

1 2 3

In [ ]:
count=0
for string in "1233":
  count+=1
  if string == '3':
    break
  print(string)
print("Code run is over")
print("Code has run for %d times" %count)

1
2
Code run is over
Code has run for 3 times

In [ ]:
a=int(input('please enter the first number: '))
b=int(input('please enter the second number: '))
for i in range(1,b+1):
  c=a*i
  for j in range(1,a+1):
    d=b*j
    if c==d:
      print('The Common Multipler is',c)

please enter the first number: 4
please enter the second number: 6
The Common Multipler is 12
The Common Multipler is 24

In [ ]:
a=int(input('please enter the first number: '))
b=int(input('please enter the second number: '))
for i in range(1,b+1):
  c=a*i
  for j in range(1,a+1):
    d=b*j
    if c==d:
      print('The Common Multiplier is',c)

please enter the first number: 9
please enter the second number: 15
The Common Multiplier is 45
The Common Multiplier is 90
The Common Multiplier is 135

In [ ]:
a=int(input('please eneter a number: '))
for i in range(1,a+1):
  if(i%5==0):
    continue
  print(i, end=' ')

please eneter a number: 21
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21