<a href="https://colab.research.google.com/github/410605025/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=result=0
while i<=50:
  if i%2!=0:
    result+=i
  i+=1
print(result)

i=result=0
while i<=50:
  if i%2==0:
    result+=i
  i+=1
print(result)

625
650

In [ ]:
n=int(input("Please enter a number: "))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*", end=" ")
  print()

Please enter a number: 7
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
total=0
for a in range (1,100):
  if(a%3==0 or a%7==0):
    total+=a
print("The total of all multiplication of 3 and 7 between 1-100 is",total)

The total of all multiplication of 3 and 7 between 1-100 is 2208

In [ ]:
p=1
counter=0
n=int(input("Please enter a number: "))
print("The factorial of",n,"is", end=" ")
while (p<=n):
  if(n%p==0):
    print(p, end=" ")
    counter+=1
  p+=1

print()
if (counter==2):
  print(n, "is a prime number")
else:
  print(n, "is not a prime number")

Please enter a number: 12
The factorial of 12 is 1 2 3 4 6 12
12 is not a prime number

In [ ]:
list1=[1,2,3,4,5]
list1

[1, 2, 3, 4, 5]

In [ ]:
score=[85,79,93]
print("Chinese score: ",score[0])
print("Math score: ",score[1])
print("English score: ",score[2])

Chinese score:  85
Math score:  79
English score:  93

In [ ]:
list2=["apple", "banana", "orange"]
for s in list2:
  print(s,end=",")

apple,banana,orange,

In [ ]:
list3=["123", "apple", True]
for s in list3:
  print(s)

123
apple
True

In [3]:
score=["Chinese score:85","Math score:79","English score:93"]
for i in range(len(score)):
  print(score[i])

Chinese score:85
Math score:79
English score:93

In [6]:
name=["Account 1: Tom","Account 2: Mary", "Account 3: Tony"]
for i in range(len(name)):
  print(name[i])

Account 1: Tom
Account 2: Mary
Account 3: Tony